.sample_table {
    border-collapse: collapse;
}

.sample_table th {
    padding: 6px;
    background-color: #eee;
    border: 1px solid #b9b9b9;
}

.sample_table td {
    padding: 6px;
    background-color: #fff;
    border: 1px solid #b9b9b9;
}